body{

}


#wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

header{
    padding: 2em;
    background:
    linear-gradient(90deg, #b1bdbd 0%, #b1bdbd 40%, #b1bdbd 60%, #bdc0c0 100%),
    url(images/image.png) no-repeat right;
}

.banner-text{
    color: #fff;
    width: 40%;
}


.btn{
color: #fff;
background-color: rgb(167, 6, 6);
text-decoration: none;
padding: 0.5em 1em;
border-radius: 10px;
display: inline-block;
}

