body{

}


#wrapper{
    /*width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: #ffffff; 

}



header {
    height: 300px;
    padding: 4.7em;
    background: 
        linear-gradient(90deg, rgba(247,247,247,0.8) 0%, rgba(215,215,215,0.8) 41.1%, rgba(115, 115, 115, 0) 58.1%),
        url("images/image.png") no-repeat right;
    background-size: contain;
}


.banner-text{
    color: #5B0202;
    width: 40%;
}



.btn {
    display: inline-block;
    background-color: #5B0202; 
    color: #FFFFFF;
    padding: 12px 32px; /* Збільшений padding для більшої кнопки */
    font-size: 18px; 
    font-family: "Times New Roman", serif;
    font-weight: bold;
    border: none;
    border-radius: 25px; /* Закруглені кути */
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Легке затемнення */
    transition: background-color 0.3s ease;
    margin: 30px; /*розташування кнопки*/
}

.btn:hover {
    background-color: #8B0000;
}

nav{
    background-color: #8B0000;
    padding: 1px 4px;
    text-align: left;
}

nav li{
display: inline-block;
margin: 0 10px;
}

nav a{
    display: inline-block;
    padding: 0.5em 2em;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color: rgb(66, 15, 15);
}

.col{
    float: left;
    width: 48%;
    margin-right: 4%;
}

.col:last-child{
    margin-right: 0;
}

footer{
    /*position: fixed;
    bottom: 0;*/
    clear: both;
}

/*Episode page style*/

.episodes{
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.episode-card{
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: solid 1px #b7b5b5;
    flex: 1 0 auto; 
}

/*.episod-card:last-child{
    margin-right: 0;
}*/

.episode-card img{
    width: 100%;
}

.episode-card p, .episode-card h4{
    margin: 1em;
}
