body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 120px;
}

h1{
    font-size: 1rem;
    text-transform: uppercase;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*top nav*/

#top-nav{
display: none;
position: absolute;
right: 0px;
top: 50px;
z-index: 100;
border: solid 1px #000;
background-color: #fff;
}

#top-nav ul a{
    display: block;
    padding: 5px;
    border-bottom: solid 1px #000;
}

#top-nav input{
    display: block;
    margin: 10px 5px;
}

.material-symbols-outlined{
    float: right;
}

/*program nav*/

.dropdown{
    background-color: #6c7579;
    margin-bottom: 1em;
}

.dropdown a{
    text-decoration: none;
    color: #fff;
}

.dropdown li a{
    color: #000;

}

.dropdown li a:hover{
    color: #000;
    background-color: gray;
}

.dropdown ul{
    background-color: #fff;
    display: none;
}

.dropdown:hover ul{
    display: block;
}
 
